#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timer {
  background-color: #f0f0f022;
  border: 1px solid #cccccc97;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
  color: #fff9;
}

#Start {
  background-color: #145322;
}

#Start:hover {
  background-color: #0a2e11;
}

#Stop {
  background-color: #6f1922;
}

#Stop:hover {
  background-color: #3a0c11;
}

#Reset {
  background-color: #635018;
}

#Reset:hover {
  background-color: #32280c;
}