.budget-tracker {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #D1DCED;
    padding: 20px;
    border-radius: 35px;
    width: 85%;
    margin: 20px auto;
}
