.budget-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #D1DCED;
    padding: 20px;
    border-radius: 35px;
    width: 85%;
    margin: 20px auto;
}
.expense-form {
    margin: 30px 0;
    /* padding-top: 20px; */
    align-items: center;
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: aliceblue;
    padding: 30px 0px 10px 0px;
    width: 45%;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.expense-form #date {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 372px;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}