*{
  box-sizing: border-box;
  /* max-width: 1200px; */
  margin: 0 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Nav{
  display: flex;
  justify-content: center;
  background-color: #6791D4;
  color: white;
  padding: 10px 20px;
  align-items: center;;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

