button{
    background-color: #6791D4;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #4A6FA5;
}