input {
    padding: 0.5rem 0.75rem;
    border: 1px solid #515151;
    background-color: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    color-scheme: dark;
    border-radius: 6px;
    font-size: 16px;
    width: 95%;    
}

input:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 0 2px rgba(100, 108, 255, 0.25);
}

input#date {
    padding: 11px;
    font-size: 13px;
    color: whitesmoke;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
