.time-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: 60px;
    font-weight: bold;
    margin: 50px;
    /* padding: 30px; */
    color: #ffffff80;
}